extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.orm: Nettrine\ORM\DI\OrmExtension

	nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension
	nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

nettrine.dbal:
	debug:
		panel: %debugMode%
		sourcePaths: [%appDir%]

	connections:
		default:
			driver: %database.driver%
			path: %database.path%
			password: %database.password%
			user: %database.user%

nettrine.orm:
	managers:
		default:
			connection: default
			mapping:
				App:
					type: attributes
					directories: [%appDir%/Domain]
					namespace: App\Domain

nettrine.fixtures:
	paths:
		- %appDir%/../db/Fixtures

nettrine.migrations:
	directories:
		DB\Migrations: %appDir%/../db
